@import 'variables.scss';
@import 'bootstrap-sass/assets/stylesheets/bootstrap/variables.scss';
@import 'bootstrap-sass/assets/stylesheets/bootstrap/mixins.scss';
@import 'bootstrap-sass/assets/stylesheets/bootstrap/normalize.scss';
@import 'bootstrap-sass/assets/stylesheets/bootstrap/utilities.scss';
@import 'bootstrap-sass/assets/stylesheets/bootstrap/glyphicons.scss';

/* bootstrap component / used */
@import 'bootstrap-sass/assets/stylesheets/bootstrap/tooltip.scss';


html {
  body {
    background: $bg-grey;
    padding: 0;
    margin: 0;
  }
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: auto;
  height: auto;
  margin-left: $sidebar-width;
  padding: 0;

  .content {
    padding: 10px;
  }
}
